*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/bkg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #434343;
}

main.calculadora{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    padding: 32px;
    border-radius: 8px;
    background: rgba(239, 251, 255, 0.8);
}


