*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/bkg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #434343;
}

main.calculadora{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    padding: 32px;
    border-radius: 8px;
    background: rgba(239, 251, 255, 0.8);
}

main.calculadora .inp{
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}

main.calculadora .inp label{
    padding: 8px;
}

main.calculadora .inp input{
    border: none;
    border-radius: 8px;
    width: 350px;
    height: 35px;
    padding: 10px;
    margin-bottom: 16px;
}

main.calculadora .inp input:focus{
    outline: 0;
}

main.calculadora button{
    border: none;
    border-radius: 32px;
    padding: 0.5rem 9.3rem;
    margin-bottom: 16px;
    background: #3e9694;
    color: white;
    font-weight: 700;
    letter-spacing: 1px;
    cursor: pointer;
}

main.calculadora button:hover{
    background: #40aaa8;
}

main.calculadora .result{
    display: flex;
    align-items: center;
    width: 350px;
    height: 70px;
    padding: 10px;
    background: white;
    border-radius: 8px;
}
